.subscribe {
    background-color: rgb(200, 4, 4);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    transition: opacity 0.15s;
    /* vertical-align: top; */
}
.subscribe:hover{
    opacity: 0.5;
    /* background-color: brown; */
}
.subscribe:active{
    opacity: 0.8;
    /* background-color: blueviolet; */
}
.join {
    background-color: rgb(255, 255, 255);
    color: rgb(8, 131, 192);
    border-color: rgb(8, 131, 192);
    border-style: solid;
    padding-top: 9px;
    padding-bottom: 9px;
    border-radius: 5px;
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;
    margin-right: 8px;
    transition: opacity 0.3s;
    /* vertical-align: top; */

}
.join:hover{
    background-color: rgb(8, 131, 192);
    color: rgb(255, 255, 255);
}
.tweet{
    background-color: rgb(0, 166, 255);
    color: rgb(255, 255, 255);
    border: none;
    padding-top: 9px;
    padding-bottom: 9px;
    border-radius: 5px;
    padding-left: 16px;
    padding-right: 16px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    margin-right: 8px;
    transition: opacity 0.3s;
    /* vertical-align: top; */

}
.tweet:hover{
    background-color: rgb(8, 131, 192);
    color: rgb(0, 166, 255);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}